@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
  --primary: #FB7B04;
  --bg-white: #fafafa;
  --bg-gray: #ededed;
  --text-white: #fafafa;
  --text-gray-100: #a3a3a3;
  --text-gray-200: #616161;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* text-align: center; */
  background-color: var(--bg-white);
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
